#secMain-cv-interestsmaintenance {
    width                            : 500px;
    
}
#lblID {
    left                             : 10px;
}
#cmbID {
    left                             : 200px;
    width                            : 80px;
}
#btnNew {
    left                             : 290px;
    top                              : 15px;
}

#btnSave, #btnUndo, #btnDelete {
    top                              : 380px;
}
#lblCVI_Name {
    left                             : 10px;
    top                              : 60px;
}
#txtCVI_Name {
    left                             : 200px;
    top                              : 70px;
    width                            : 50ch; 
}
#lblCVI_Details {
    left                             : 10px;
    top                              : 100px;
}
#txtCVI_Details {
    left                             : 10px;
    top                              : 160px;
    width                            : 110ch;
    height                           : 200px;
}
