#secMain-cv-contactdetailsmaintenance {
    width                            : 500px;
    
}

#lblID {
    left                             : 10px;
}
#cmbID {
    left                             : 200px;
    width                            : 80px;
}
#btnNew {
    left                             : 290px;
    top                              : 15px;
}
#btnSave, #btnUndo, #btnDelete {
    top                              : 400px;
}
#lblCVC_Address1 {
    left                             : 10px;
    top                              : 60px;
} 
#lblCVC_Address2 {
    left                             : 10px;
    top                              : 100px;
} 
#lblCVC_Address3 {
    left                             : 10;  
    top                              : 140px; 
}    
#txtCVC_Address1 {
    left                             : 200px;
    top                              : 70px;
    width                            : 75ch;
} 
#txtCVC_Address2 {
    left                             : 200px;
    top                              : 110px;
    width                            : 75ch;
}
#txtCVC_Address3 {
    left                             : 200px;
    top                              : 150px;
    width                            : 75ch;
} 
#lblCVC_TownCity {
    left                             : 10px;
    top                              : 180px;
} 
#txtCVC_TownCity {
    left                             : 200px;
    top                              : 190px;
    width                            : 30ch;
} 
#lblCVC_Postcode {
    left                             : 10px;
    top                              : 220px;
} 
#txtCVC_Postcode {
    left                             : 200px;
    top                              : 230px;
    width                            : 15ch;
} 
#lblCVC_Landline {
    left                             : 10px;
    top                              : 260px;
} 
#txtCVC_Landline {
    left                             : 200px;
    top                              : 270px;
    width                            : 15ch;
} 
#lblCVC_CellPhone {
    left                             : 10px;
    top                              : 300px;
} 
#txtCVC_CellPhone {
    left                             : 200px;
    top                              : 310px;
    width                            : 15ch;
} 
#lblCVC_Email {
    left                             : 10px;
    top                              : 340px;
} 
#txtCVC_Email {
    left                             : 200px;
    top                              : 350px;
    width                            : 75ch;
} 
