* {
    margin                                 : 0;
    padding                                : 0;
}
/* .root   {
    --var-DetailRowNumber                  : 11;
} */

/* @media print {
    @page {
    margin-top                             : 0; 
    margin-bottom                          : 30mm;
    }
} */

/* 10 rows */
.clhHeader {
   display                                 : grid;
   grid-template-columns                   : 160px 200px 160px 220px;
   grid-template-rows                      : 60px 16px 16px 16px 16px 32px;
   row-gap                                 : 10px;
}

/*
  grid header
*/
.clhTitle {
    font-size                              : 42px;
    padding-bottom                         : 20px;
    grid-column                            : 1 / 4;
    grid-row                               : 1;
} 

.clhLabelHeader1 {
   grid-column                             : 1;
   grid-row                                : 2;
   font-size                               : 16px;
   padding-bottom                          : 4px; 
} 

.clhTextHeader1 {
    grid-column                            : 2;
    grid-row                               : 2;
    border                                 : none;
    width                                  : 100px;
    font-size                              : 16px;
    padding-bottom                         : 4px; 
}

.clhLabelHeader2 {
   grid-column                             : 3;
   grid-row                                : 2;
   font-size                               : 16px;
   padding-bottom                          : 4px; 
} 

.clhTextHeader2 {
    grid-column                            : 4;
    grid-row                               : 2;
    border                                 : none;
    width                                  : 100px;
    font-size                              : 16px;
    padding-bottom                         : 4px; 
}
.clhLabelHeader3 {
   grid-column                             : 1;
   grid-row                                : 3;
   font-size                               : 16px;
   padding-bottom                          : 4px; 
} 
.clhTextHeader3 {
    grid-column                            : 2 / 4;
    grid-row                               : 3;
    border                                 : none;
    width                                  : 536px;
    font-size                              : 16px;
    padding-bottom                         : 4px; 
}
.clhLabelHeader4 {
   grid-column                             : 1;
   grid-row                                : 4;
   font-size                               : 16px;
   padding-bottom                          : 4px; 
} 
.clhTextHeader4 {
    grid-column                            : 2 / 4;
    grid-row                               : 4;
    border                                 : none;
    width                                  : 536px;
    font-size                              : 16px;
    padding-bottom                         : 4px; 
}
 .clhLineHeader1 {
    border                                 : solid;
    border-width                           : 1px;
    height                                 : 0.5px;
    width                                  : 740px;
    margin-top                             : 5px;
    /* margin-bottom                          : 5px; */
    grid-column                            : 1 / 4;
    grid-row                               : 5;
}
.clhLabelHeader5 {
    grid-column                            : 1;
    grid-row                               : 6;
    font-size                              : 16px;
 } 
 .clhLineHeader2 {
    border                                 : solid;
    border-width                           : 1px;
    height                                 : 0.5px;
    width                                  : 740px;
    margin-bottom                          : 5px;
    grid-column                            : 1 / 4;
    grid-row                               : 7;
}
.clhTextDetail1 {
    grid-column                            : 1 /2;
    border                                 : none; 
    width                                  : 360px;
    font-size                              : 14px;
    padding-bottom                         : 4px; 
  

}
.clhDummy {
    display: block;
    
}
/*
 grid  footer

 1 row
*/
.clhFooter {
    display: grid;
    grid-template-columns: 160px 200px 160px 220px;
    grid-template-rows: 16px;
    }
    
.clhLabelFooter1 {
    grid-column                             : 1;
    grid-row                                : 48;
    font-size                               : 12px;
    padding-bottom                          : 4px; 
 } 
 
 .clhTextFooter1 {
     grid-column                            : 2;
     grid-row                               : 48;
     border                                 : none;
     width                                  : 100px;
     font-size                              : 12px;
     padding-bottom                         : 4px; 
 }

 .clhLabelFooter2 {
    grid-column                             : 4;
    grid-row                                : 48;
    font-size                               : 12px;
    padding-bottom                          : 4px; 
    justify-self: end;
 } 
 
 




