#secMain-mailshotscreator {
    width                                 : 500px;
    
}
/*
  form controls
*/
#lblID {
    left                                  : 10px;
}
#cmbID {
    left                                  : 140px;
    width                                 : 80px;
}
#btnNew {
    left                                  : 230px;
    top                                   : 15px;
}
#btnSave, #btnUndo, #btnDelete {
    top                                   : 670px;
}
#btnPrintMailshot {
    left: 600px;
    width: 140px;
    top: 680px;
}
#btnPrintTestEnvelope {
    left: 400px;
    width: 160px;
    top: 680px;
}
#lblMSH_MailshotName {
    left                                  : 10px;
    top                                   : 50px;
}
#txtMSH_MailshotName {
    left                                  : 140px;
    top                                   : 60px;
    width                                 : 50ch; 
}
#lblMSH_CVPath {
    left                                  : 10px;
    top                                   : 90px;
}
#txtMSH_CVPath {
    left                                  : 140px;
    top                                   : 100px;
    width                                 : 95ch;
}
#imgCV {
    position                              : absolute;
    left                                  : 140px;
    top                                   : 110px;
    height                                : 20px;
    width                                 : 20px;        
    background-color                      : transparent;
    mix-blend-mode                        : screen;   
}
#lblMSH_PrintedDate {
    left                                  : 640px;
    top                                   : 50px;
}
#dteMSH_PrintedDate {
    left                                  : 780px;
    top                                   : 65px; 
}
#lblMSH_LetterPath {
    left                                  : 10px;
    top                                   : 130px;
}
#txtMSH_LetterPath {
    left                                  : 140px;
    top                                   : 140px;
    width                                 : 95ch;
}
#imgLetter {
    position                              : absolute;
    left                                  : 140px;
    top                                   : 150px;
    height                                : 20px;
    width                                 : 20px;        
    background-color                      : transparent;
    mix-blend-mode                        : screen;   
}
.clhLine {
    top                                   : 180px;
}
/*
  table and table controls
*/
/* headers

*/
#divTableHeaders {
    top                                   : 190px;
    width                                 : 970px;
}


#divMailshotAddresses {
     position                             : absolute;
     left                                 : 2px;
     top                                  : 214px; 
     border                               : solid;
     border-color                         :green;
     border-width                         : 1px;
     width                                : 970px;
     height                               : 200px;
     display                              : block;
     background-color                     : none;
     scrollbar-color                      : yellow darkblue;
     scroll-behavior                      : smooth;
     scrollbar-width                      : 10px;
     overflow-y                           : scroll;
     overflow-x                           : scroll;
     border-radius                        : 6px;
} 
.clhAddressRowContainer {
    background-color                      :darkslategrey;
    display                               : inline-block;
    width                                 : 970px;
    height                                : 30px;
}

/*
 table headers
*/

#divTableHeaderSelect {
    width                                 : 6ch;
    left                                  : 0;
}
#divTableHeader1 {
    left                                  : 75px;
}
#divTableHeader2 {
    left                                  : 235px;
}
#divTableHeader3 {
    left                                  : 339px;
}
#divTableHeader4 {
    left                                  : 439px;
}
#divTableHeader5 {
    left                                  : 539px;
}
#divTableHeader6 {
    left                                  : 639px;
}
#divTableHeader7 {
    left                                  : 739px;
}
#divTableHeader8 {
    left                                  : 839px;
}

/*
 table elements
*/
.btnSelect {
    width                                 : 6ch;
    left                                  : 0;
}
.clhAddressCol1 {
    margin-right                          : 2px;
    color                                 : yellow;
    height                                : 30px;
}
.clhAddressCol2 {
    margin-right                          : 2px;
    padding-top                           : 5px; 
    padding-left                          : 2px;
    color                                 : yellow;
    height                                : 30px;
    left                                  : 80px;
}
.clhAddressCol3 {
    margin-right                          : 2px;
    padding-top                           : 5px;
    padding-left                          : 2px;
    color                                 : yellow;
    height                                : 30px;
    left                                  : 240px;
}
.clhAddressCol4 {
    margin-right                          : 2px;
    padding-top                           : 5px;
    padding-left                          : 2px;
    color                                 : yellow;
    height                                : 30px;
    left                                  : 340px;
}
.clhAddressCol5 {
    margin-right                          : 2px;
    padding-top                           : 5px;
    padding-left                          : 2px;
    color                                 : yellow;
    height                                : 30px;
    left                                  : 440px;
}
.clhAddressCol6 {
    margin-right                          : 2px;
    padding-top                           : 5px;
    padding-left                          : 2px;
    color                                 : yellow;
    height                                : 30px;
    left                                  : 540px;
}
.clhAddressCol7 {
    margin-right                          : 2px;
    padding-top                           : 5px;
    padding-left                          : 2px;
    color                                 : yellow;
    height                                : 30px;
    left                                  : 640px;
}
.clhAddressCol8 {
    margin-right                          : 2px;
    padding-top                           : 5px;
    padding-left                          : 2px;
    color                                 : yellow;
    height                                : 30px;
    left                                  : 740px;
}
.clhAddressCol9 {
    margin-right: 2px;
    padding-top: 5px;
    padding-left: 2px;
    color: yellow;
    height: 30px;
    left: 840px;
}

/*
  form controls
*/
#lblMSL_Contact {
    left                                  : 10px;
    top                                   : 420px 
}
#txtMSL_Contact {
    left                                  : 100px;
    top                                   : 430px;
    width                                 : 30ch;
}
#lblMSL_CompanyName {
    left                                  : 400px;
    top                                   : 420px;
}
#txtMSL_CompanyName {
    left                                  : 490px;
    top                                   : 430px;
    width                                 : 50ch;    
}
#lblMSL_Address1 {
    left                                  : 10px;
    top                                   : 460px;
}
#txtMSL_Address1 {
    left                                  : 100px;
    top                                   : 470px;
    width                                 : 50ch; 
}
#lblMSL_Address2 {
    left                                  : 10px;
    top                                   : 500px;
}
#txtMSL_Address2 {
    left                                  : 100px;
    top                                   : 510px; 
    width                                 : 50ch;
}
#lblMSL_Address3 {
    left                                  : 10px;
    top                                   : 540px;
}
#txtMSL_Address3 {
    left                                  : 100px;
    top                                   : 550px;
    width                                 : 50ch; 
}
#lblMSL_TownCity {
    left                                  : 10px;
    top                                   : 580px;
}
#txtMSL_TownCity {
    left                                  : 100px;
    top                                   : 590px;
    width                                 : 30ch;
}
#lblMSL_Postcode {
    left                                  : 400px;
    top                                   : 580px;
}
#txtMSL_Postcode {
    left                                  : 490px;
    top                                   : 590px;
    width                                 : 15ch; 
}
#lblMSH_PrintContact {
    left                                  : 40px;
    top                                   : 620px;
}
#chkMSH_PrintContact {
    left                                  : 10px;
    top                                   : 638px;
}
/*
   address "action" buttons
*/
#divAddress {
    left                                  : 760px;
    top                                   : 460px;
    border                                : solid;
    border-color                          : white;
    height                                : 160px;
    width                                 : 200px;
    padding-left                          : 10px;
    padding-top                           : 10px;
}
#btnNewAddress {
    width                                 : 190px;
    height                                : 30px;
}
#btnSaveAddress {
    width                                 : 190px;
    height                                : 30px;
    top                                   : 50px;
}
#btnClearAddress {
    width                                 : 190px;
    height                                : 30px;
    top                                   : 90px; 
}
#btnDeleteAddress {
    width                                 : 190px;
    height                                : 30px;
    top                                   : 130px;
}