#secMain-cv-experiencemaintenance {
    width                            : 500px;
    
}
#lblID {
    left                             : 10px;
}
#cmbID {
    left                             : 280px;
    width                            : 80px;
}
#btnNew {
    left                             : 370px;
    top                              : 15px; 
}
#lblCVE_YearStarted {
    left                             : 10px;
    top                              : 50px; 
}
#dteCVE_YearStarted {
    left                             : 280px;
    top                              : 60px;
}
#lblCVE_YearEnded {
    left                             : 10px; 
    top                              : 80px;
}
#dteCVE_YearEnded {
    left                             : 280px;
    top                              : 90px;
}
#lblCVE_Where {
    left                             : 10px;
    top                              : 120px; 
}
#txtCVE_Where {
    left                             : 280px;
    top                              : 130px;
    width                            : 75ch;
}
#lblCVE_Role {
    left                             : 10px;
    top                              : 160px;
}
#cmbCVE_Role {
    left                             : 280px;
    top                              : 160px;
    width                            : 300px;
}

#btnSave, #btnUndo, #btnDelete {
    top                              : 220px;
}