#secMain-cv-rolesmaintenance {
    width                            : 500px;
    
}
#lblID {
    left                             : 10px;
}
#cmbID {
    left                             : 200px;
    width                            : 80px;
}
#btnNew {
    left                             : 290px;
    top                              : 15px;
}
#btnSave, #btnUndo, #btnDelete {
    top                              : 660px;
}

#lblCVR_Name {
    left                             : 10px;
    top                              : 50px;
}
#txtCVR_Name {
    left                             : 200px;
    top                              : 60px;
    width                            : 50ch;
}
.clhLine {
    top                              : 98px; 
}
#lblResponsibilities {
    left                             : 10px;
    top                              : 90px;
}

#divResponsibility {
    position                         : absolute;
    left                             : 10px;
    top                              : 130px; 
    border                           : solid;
    border-color                     :green;
    width                            : 960px;
    height                           : 230px;
    display                          : grid;
    grid-template                    : 10px 200px / 200px 200px; 
    /* scroll-behavior                  : auto; */
    grid-gap                         : 1px;
}
#pResponsibility_Name {
    grid-column                      : 1 /2;
    grid-row                         : 1 /2;
    margin-top                       : 0px;
}
#pResponsibility_Details {
    grid-column                      : 2 /2;
    grid-row                         : 1 /2;
    margin-top                       : 0px;
}

#lstResponsibility_Name {
    grid-column                      : 1 /2;
    grid-row                         : 2 /2;
    width                            : 200px;
    height                           : 200px;
}
#lstResponsibility_Details {
grid-column                          : 2 /2;
grid-row                             : 2 /2;
width                                : 750px;
height                               : 200px;
overflow                             : hidden;
}

#lblCVRR_Name {
    left                             : 10px;
    top                              : 370px;
}
#txtCVRR_Name {
    left                             : 200px;
    top                              : 375px;
    width                            : 50ch;
}
#lblCVRR_Details {
    left                             : 10px;
    top                              : 395px;
}
#txtCVRR_Details {
    left                             : 10px;
    top                              : 440px;
    width                            : 124ch;
    height                           : 130px;
}
#divResponsibilities {
    border                           : solid;
    border-color                     : white;
    border-radius                    : 2px;
    top                              : 590px;
    height                           : 40px;
    width                            : 830px;
    padding                          : 10px;
}
#btnNewResponsibility {
    left                             : 10px;
    width                            : 220px;
}
#btnSaveResponsibility {
    left                             : 240px;
    width                            : 230px;   
}
#btnDeleteResponsibility {
    left                             : 480px;
    width                            : 240px;
}
#btnClear {
    left                             : 730px;
    width                            : 110px;
}
